* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line-height-none {
  line-height: 1 !important;
}

.line-height-normal {
  line-height: 1.25 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
}

.line--horizontal {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line--horizontal:before, .line--horizontal:after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  opacity: 0.15;
}
.line--horizontal:before {
  margin-right: 2rem;
}
.line--horizontal:after {
  margin-left: 2rem;
}

.product--img {
  border-color: rgba(0, 0, 0, 0.15) !important;
}
.product--img img {
  mix-blend-mode: multiply;
}

.img--multiply {
  mix-blend-mode: multiply;
}

.section--light {
  background-image: linear-gradient(-35deg, rgba(0, 0, 0, 0.025), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.025));
}

.w--33 {
  min-width: 33.33%;
  width: 33.33%;
  max-width: 33.33%;
}